/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
.root {
	-fx-background-color:"White";
}

Circle:hover{

-fx-fill:#e9f542;


}
.rectangleMancalaHole:hover {
	-fx-fill:#e9f542;
}